@green: #93e78f;
@pink: #e0ace0;
@light-blue: #aacaff;
@faded-blue: #7caff4;
@white: rgba(210, 200, 255, 0.88);
@transparent-white: rgba(210, 200, 255, 0.25);
@transparenter-white: rgba(210, 200, 255, 0.11);
@blue: #4d89d3;
@dark-blue: darken(@blue, 2%);
